* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
}

:root {
    --verylight-bgcolor: #eeedf6;
    /*very light back ground color*/
    --text-main: #1A1A2E;
    /*heading,body text*/
    --text-muted: #6B6B8A;
    /*subtitle, about me paragraph*/
    --primary-accent: #7C3AED;
    /*buttons, links, skills pills, border, navbar logo*/
    --accent-dark: #4C1D95;
    /*Hover state on buttons*/
    --accent-light: #EEEDFE;
    /*hero section*/
    --border-color: #AFA9EC;
    /*Cards borders*/
    --light-bgcolor: #dfdcfe;
    /*Ligth back ground color*/
    --line-color: #d2cefb;
    /*Seperate Lines color*/
}

body {
    background-color: #f6f4ff;
    padding-top: 55px;
}

::-webkit-scrollbar {
    display: none;
}

html,
body {
    height: 100%;
    width: 100%;
    scrollbar-width: none;
}

.no-scroll {
    overflow: hidden;
    height: 100vh;
}

#nav-bar {
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    color: var(--primary-accent);
    font-size: larger;
    border-bottom: 2px solid var(--line-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    background-color: rgba(225, 211, 239, 0.318);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(10px);
    transition: transform 0.3s ease-in-out;
}

.nav-hidden {
    transform: translateY(-100%);
}

#icon {
    color: var(--primary-accent);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

#icon.open {
    font-size: 1.4rem;
    transform: rotate(90deg) scale(1.1);
}

#icon:hover {
    color: var(--accent-dark);
}

.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--verylight-bgcolor);
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
}

.mobile-menu.active {
    transform: translateX(0);
}

.menu-links li {
    border-bottom: 1px solid var(--accent-dark);
}

.menu-links li:last-child {
    border-bottom: none;
}

.menu-links {
    list-style: none;
    text-align: left;
    padding: 0;
    width: 100%;
    padding: 0 32px;
}

.menu-item {
    display: block;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--text-main);
    text-decoration: none;
    padding: 18px 0;
    transition: 0.2s ease;
}

.menu-item:hover {
    color: var(--accent-dark);
    transform: scale(1.05);
}

.menu-item:active {
    transform: scale(1.01);
}

.intro-img {
    padding: 1.5px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.image-section {
    border: 3px solid var(--primary-accent);
    border-radius: 50%;
    height: 180px;
    width: 180px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 20px; */
}

.intro-section {
    text-align: center;
    background-color: var(--light-bgcolor);
    padding-top: 20px;
    padding-bottom: 40px;
}

.greeting {
    color: var(--text-muted);
    font-size: 1.2rem;
    margin-top: 15px;
}

.main-name {
    color: var(--text-main);
    margin: 5px 0;
    font-weight: 600;
}

.sub-title {
    margin-top: 10px;
    color: var(--primary-accent);
    font-size: 1.2rem;
    font-weight: 500;
}

.intro-btns {
    margin-top: 30px;
    /* cursor: pointer; */
}

.link-btn {
    display: inline-block;
    text-decoration: none;
    border-radius: 60px;
    font-size: medium;
    padding: 14px 20px;
    background-color: var(--primary-accent);
    color: var(--accent-light);
    font-weight: bold;
    transition: 0.2s ease;
}

.link-btn:hover {
    background-color: var(--accent-dark);
    transform: translateY(-2px);
}

.link-btn:active {
    transform: scale(0.96);
}

.about-section {
    /* background-color: #eeedf6; */
    border-bottom: 1px solid var(--line-color);
    /* text-align: center; */
}

.title {
    font-size: 1.3rem;
    text-transform: uppercase;
    padding: 10px;
    padding-top: 30px;
    color: var(--primary-accent);
    font-weight: 450;
    letter-spacing: 3px;
}

.about-text {
    max-width: 600px;
    line-height: 1.7rem;
    font-size: 1.1rem;
    padding: 10px;
    padding-left: 20px;
    padding-bottom: 30px;
    color: #434356;
    margin: 0 auto;
}

.skills-section {
    background-color: var(--verylight-bgcolor);
    border-bottom: 1px solid var(--line-color);
}

.skills-container {
    padding: 10px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    max-width: 600px;
    margin: 0 auto;
}

.skill-pill {
    background-color: var(--light-bgcolor);
    color: var(--accent-dark);
    padding: 10px 20px;
    border: 0.1px solid var(--border-color);
    border-radius: 60px;
    font-weight: 500;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    transition: 0.3s ease;
}

.skill-pill:hover {
    transform: translateY(-3px);
    border-color: var(--primary-accent);
    color: var(--primary-accent);
}

.skill-pill i {
    margin-right: 6px;
    font-size: 1.2rem;
}

.projects-section {
    padding-bottom: 40px;
    border-bottom: 1px solid var(--line-color);
}

.projects-container {
    display: grid;
    grid-template-columns: 1fr;
    /* border: 1px solid var(--border-color); */
}

.project-card {
    padding: 15px;
    margin: 25px;
    margin-bottom: 5px;
    border: 2px solid var(--border-color);
    transition: 0.3s ease;
    border-radius: 15px;
    background-color: var(--verylight-bgcolor);
}

.project-card:hover {
    transform: translateY(-4px);
    border-color: var(--primary-accent);
}

.card-img {
    height: 180px;
    width: 100%;
    /* border: 2px solid black; */
    margin-bottom: 10px;
}

.project-img {
    border-radius: 15px;
    border: 1px solid var(--line-color);
    background-color: var(--light-bgcolor);
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.project-heading {
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--text-main);
    text-decoration: none;
    transition: 0.2s ease;
}

.project-heading:hover{
    color: darkslateblue;
}

.project-description {
    padding-bottom: 10px;
    font-weight: 400;
    color: var(--text-muted);
    font-family: 'Georgia', 'Cambria', serif;
    margin-bottom: 7px;
}

.project-btn {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 15px;
}

.primary-btn {
    display: inline-block;
    background-color: var(--primary-accent);
    color: white;
    padding: 8px 20px;
    border-radius: 60px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.2s ease;
    font-size: 1.1rem;
}

.primary-btn:hover {
    background-color: var(--accent-dark);
    transform: translateY(-1.5px);
}

.primary-btn:active {
    transform: scale(0.96);
}

.secondary-btn {
    display: inline-block;
    background-color: transparent;
    color: var(--text-main);
    padding: 8px 20px;
    text-decoration: none;
    border-radius: 60px;
    font-weight: 600;
    font-size: 1.1rem;
    border: 2px solid var(--text-muted);
    transition: 0.2s ease;
}

.secondary-btn i {
    margin-right: 3px;
    font-size: 1.1rem;
}

.secondary-btn:hover {
    border-color: var(--text-main);
    transform: translateY(-1.5px);
}

.secondary-btn:active {
    transform: scale(0.95);
}

.contact-section {
    background-color: var(--verylight-bgcolor);
    border-bottom: 1px solid var(--line-color);
    padding-bottom: 40px;
}

.contact-name {
    text-align: center;
    color: var(--text-main);
    font-weight: 500;
    margin-bottom: 15px;
}

.contact-description {
    text-align: center;
    max-width: 600px;
    line-height: 1.6rem;
    font-size: 1.1rem;
    padding: 10px;
    padding: 0 20px;
    padding-bottom: 30px;
    color: #434356;
    margin: 0 auto;
}

.contact-btns {
    display: flex;
    justify-content: center;
}

.social-links {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icon {
    border: 1.5px solid var(--border-color);
    padding: 6px 13px;
    border-radius: 15px;
    color: var(--text-muted);
    font-size: 1.5rem;
    transition: 0.3s ease;
    background-color: var(-);
}

.social-icon:hover {
    background-color: var(--accent-light);
    color: var(--text-main);
    transform: translateY(-3px);
    border-color: var(--primary-accent);
}

.footer-section {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    background-color: var(--text-main);
}

.footer-p {
    text-align: center;
    letter-spacing: 0.5px;
    font-size: 0.95rem;
    color: var(--light-bgcolor);
}

@media (min-width: 768px) {
    #icon {
        display: none;
    }

    #nav-bar{
        padding: 0% 20px;
    }

    #nav-bar p{
        color: var(--accent-dark);
        padding-left: 20px;
        font-size: 1.3rem;
    }

    .mobile-menu {
        position: static;
        height: auto;
        transform: none;
        background: transparent;
        width: auto;
        padding-right: 20px;
    }

    .menu-links {
        display: flex;
        gap: 60px;
        margin: 0;
    }

    .menu-links li {
        border-color: transparent;
    }

    .menu-item {
        margin: 0;
        font-size: 1.4rem;
    }

    .menu-item:hover {
        color: var(--accent-dark);
        transform: translateY(-3px);
    }

    .menu-item:active {
        transform: scale(1);
    }

    .intro-section{
        display: flex;
        flex-direction: row-reverse;
        padding: 80px 10%;
        text-align: left;
        /* justify-content: space-between; */
        gap: 12%;
        align-items: center;
    }

    .intro-content{
        width: 50%;
        text-align: left;
    }

    .image-section{
        width: 45%;
        justify-content: center;
        width: 300px;
        height: 300px;
        object-fit: cover;
        border: transparent;
    }

    .intro-img{
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    }

    .greeting{
        font-size: 1.3rem;
    }

    .main-name{
        font-size: 3rem;
    }

    .sub-title{
        font-size: 1.4rem;
    }

    .title{
        padding-left: 20px;
        font-size: x-large;
        font-weight: 500;
    }

    .about-section{
        padding: 70px 0;
    }

    .about-text{
        max-width: 800px;
        font-size: 1.3rem;
        line-height: 1.8;
        text-align: center;
    }

    .skills-section{
        padding: 70px 0;
    }

    .skills-container{
        max-width: 800px;
        column-gap: 30px;
        cursor: context-menu;
    }

    .skill-pill{
        font-size: 1.2rem;
        padding: 11px 22px;
    }

    .projects-section{
        padding: 70px 0;
    }

    .projects-container{
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        max-width: 1300px;
        margin: 0 auto;
    }

    .card-img{
        margin-bottom: 55px;
    }

    .project-img{
        height: 220px;
        object-fit: cover;
    }

    .project-heading{
        font-size: 1.4rem;
        letter-spacing: 1px;
    }

    .project-description{
        line-height: 1.5;
    }

    .contact-section{
        padding: 70px 0;
        text-align: center;
    }

    #contact-title{
        text-align: center;
    }

    .contact-description{
        max-width: 600px;
        font-size: 1.2rem;
        line-height: 1.8;
        margin: 20px auto 40px auto;
    }

    .contact-btns{
        font-size: 1.2rem;
        padding: 15px 40px;
    }

    .social-links{
        margin-top: 40px;
        gap: 30px;
    }

    .social-icon{
        font-size: 1.8rem;
    }

    .footer-section{
        padding: 25px 0;
    }

    .footer-p{
        font-size: 1.1rem;
    }

}